<div class="card">
    <div class="card-header">
        <div class="utils__title">
            <strong>Video Details</strong>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow ">
                    <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
                        <div class="mt-4 text-center">
                            <img [src]="video.snippet.thumbnails.medium.url" class="col-md-10" alt="...">
                        </div>
                    </a>

                    <div class="duration mt-1 text-center">
                        <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                        {{(video.contentDetails.duration.slice(2)).replace('M',' Minutes ').replace('S','
                        Seconds').replace('H',' Hours ')}}
                    </div>

                    <div class="icons mt-2 text-center">
                        <i nz-icon nzType="like" nzTheme="outline"></i>
                        {{video.statistics.likeCount}}
                        <i nz-icon nzType="dislike" nzTheme="outline"></i>
                        {{video.statistics.dislikeCount}}
                        <i nz-icon nzType="comment" nzTheme="outline"></i>
                        {{video.statistics.commentCount}}
                        <i nz-icon nzType="eye" nzTheme="outline"></i>
                        {{video.statistics.viewCount}}
                        <i nz-icon nzType="star" nzTheme="outline"></i>
                        {{this.videoRate}}

                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">
                            <a href="https://www.youtube.com/watch?v={{video.id}}">{{video.snippet.title}}
                            </a>
                        </h5>
                        <div class="card-text text-danger">{{video.snippet.publishedAt | date :'medium'}}</div>
                        <div class="card-text text-black-50">{{video.snippet.description.slice(0, 100)}}</div>

                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="card border-0 shadow">
                    <button nz-button [nzType]="this.alreadyFav ? 'danger' : 'primary'"
                        (click)="AddVideoToFavourites(video.id)">
                        <i nz-icon nzType="star" [nzTheme]="this.alreadyFav ? 'fill' : 'outline'"></i>
                        {{ this.alreadyFav ? 'Favourite Video' : 'Add to Favourites'}}
                    </button>
                </div>
                <div class="mt-3 border-0 shadow rate">
                    <h6 class="text-primary">Rate Video</h6>
                    <nz-rate [(ngModel)]="videoRate" (ngModelChange)="storeVideoRate(video.id)" nzAllowHalf></nz-rate>
                </div>
            </div>

        </div>
    </div>
</div>